/* For ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    /*padding-top:5px;*/
    /*padding-bottom:5px;*/
}

/* For table filter */
.search {
    position: relative;
    font-size: 16px;
}

.search input {
    width: 250px;
}

.search input {
    text-indent: 32px;
}

.search .fa-search {
    position: absolute;
    top: 5px;
    left: 10px;
}

.highlight {
    border-top: 2pt solid black;
}

/* For handling mobile devices */
@media (max-width: 767px) {
    .navbar-mobile {
        display: initial;
    }

    .navbar-desktop {
        display: none;
    }
}

@media (min-width: 767px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: initial;
    }
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
}

/*.loader {*/
/*position: absolute;*/
/*left: 50%;*/
/*top: 50%;*/
/*z-index: 1;*/
/*border: 16px solid #f3f3f3;*/
/*border-radius: 50%;*/
/*border-top: 16px solid blue;*/
/*border-right: 16px solid green;*/
/*border-bottom: 16px solid red;*/
/*width: 60px;*/
/*height: 60px;*/
/*-webkit-animation: spin 2s linear infinite;*/
/*animation: spin 2s linear infinite;*/
/*}*/

/*@-webkit-keyframes spin {*/
/*0% { -webkit-transform: rotate(0deg); }*/
/*100% { -webkit-transform: rotate(360deg); }*/
/*}*/

/*@keyframes spin {*/
/*0% { transform: rotate(0deg); }*/
/*100% { transform: rotate(360deg); }*/
/*}*/

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}