.navbar {
    border-radius: 0px;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom,#777711 0,#000 100%);
}

.navbar-inverse .brand{
    color: #FFFFFF;
}

.icon-white {
    color:white;
}

h1,h2,h3,h4 {
    color: Olive;
}
