.navbar {
    border-radius: 0px;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, #777711 0, #000 100%);
}

.navbar-inverse .brand {
    color: #FFFFFF;
}

.icon-white {
    color: white;
}

h1, h2, h3, h4, h5 {
    color: Olive;
    margin-top: 0;
}

/* For Modal */
.scoretitle {
    background-image: linear-gradient(to bottom, #777711 0, #000 100%);
    color: white;
    text-align: center;
}

.scoreboard {
    margin: auto;
}

.scoreline {
    text-align: center;
}

.scoreInput {
    width: 100%;
    cursor: pointer;
}

.scoreDiv:hover {
    border: 2px double olive;
}

.scoreDiv {
    border: 2px double transparent;
}

.scoreReadonly {
    width: 100%;
    cursor: pointer;
}

.scoreNoGame {
    color: white;
    background-color: white;
}

.scoreButton {
    width: 100%;
    height: 20px;
    background-color: Transparent;
    border: none;
    outline: none;
}

.rowTitle {
    font-weight: bold;
}

.headerTitle {
    font-weight: bold;
    /*background-color: white;*/
    color: olive;
}

.scoreEmptyTarget:hover {
    width: 100%;
}

.notAvailable {
    text-decoration: line-through;
    color: lightgrey;
}

.backgroundImageProduction {
    background: url("/images/url.jpeg") no-repeat center center fixed;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.backgroundImageDevelopment {
    background: red;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.loginLabel {
    color: olive;
    font-weight: 400;
    padding-right: 10px;
}

.loginButton {
}

.loginInput {
}

.loginWell {
    width: 400px;
    height: 300px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.btn-purple {
    opacity: 1;
    background-color: purple;
    border-color: purple;
    color: white;
}

.alert {
    margin-bottom: 0;
}