body {
    /* font-family: Verdana; */
    padding: 20px;
}

.grid {
    width: 100%;
    height: 250px;
}

.grid-msg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.grid-msg-overlay .msg {
    opacity: 1;
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 50%;
    background-color: #eee;
    border-radius: 4px;
    border: 1px solid #555;
    text-align: center;
    font-size: 24px;
    display: table;
}

.grid-msg-overlay .msg > .center {
    display: table-cell;
    vertical-align: middle;
}

.grid input[type="file"] {
    font-size: 14px;
    display: inline-block;
}

.row-space{
    margin-top:10px;
    margin-bottom:10px;
}

/* for file input */
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/* end */