/* For ui.bootstrap */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

/* For table filter */
 .search {
   position: relative;
   font-size: 16px;
 }

 .search input {
   width: 250px;
 }

 .search input {
    text-indent: 32px;
 }

 .search .fa-search {
   position: absolute;
   top: 5px;
   left: 10px;
 }