<!--<div class="container">-->
<!--<div class="row row-space">-->
<!--<button type="button" class="btn btn-default" ng-show="vm.gridOptions.data.length" ng-click="vm.reset()">Reset</button>-->
<!--</div>-->
<!--<div class="row row-space">-->
<!--<div id="grid1" ui-grid="vm.gridOptions" class="grid">-->
<!--<div>-->
<!--<div class="grid-msg-overlay" ng-hide="vm.gridOptions.data.length">-->
<!--<div class="msg">-->
<!--<div class="center">-->
<!--<span class="muted">Select Spreadsheet File</span>-->
<!--<br />-->
<!--<input type="file" accept=".xls,.xlsx,.ods" fileread="" opts="vm.gridOptions" multiple="false" />-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="row row-space">-->
<!--<form ng-show="vm.gridOptions.data.length">-->
<!--<div class="form-group">-->
<!--<div class="input-group">-->
<!--<button class="btn btn-success" ng-click="importPlayers()">Parse As Players</button>-->
<!--&nbsp;-->
<!--<button ng-show="players.length" class="btn btn-warning" ng-click="importPlayers()">Save</button>-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->

<!--<div class="row row-space">-->
<!--<players-table ng-show="players.length"-->
<!--players="players"-->
<!--sort-type="sortType"-->
<!--sort-reverse="sortReverse"-->
<!--search-name="searchName"-->
<!--&gt;</players-table>-->
<!--</div>-->
<!--</div>-->