<div class="row" ng-show="tableRows">
    <div class="well">
        <h2>{{boxleague.name}} - {{boxName}}</h2>
        <p>Click on a table cell to enter your score in the <a href="#/setsHelp">Scoreboard</a></p>
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th ng-repeat="header in tableHeaders" ng-class="{headerTitle: $first, notAvailable: isNotAvailable(0,[header],0)}">{{header}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in tableRows">
                <td ng-repeat="column in row track by $index" ng-class="{rowTitle: $first, scoreNoGame: getCellScore(column,row,$index) === 'x'}">
                    <div ng-if="readOnly(column,row,$index)"
                         ng-class="{scoreNoGame: getCellScore(column,row,$index) === 'x', notAvailable: isNotAvailable(column,row,$index)}">
                        {{getCellScore(column,row,$index)}}
                    </div>
                    <div ng-if="!readOnly(column,row,$index)" ng-click="openByGrid(column,row,$index)"
                         ng-class="{scoreNoGame: getCellScore(column,row,$index) === 'x', notAvailable: isNotAvailable(column,row,$index)}"
                    class="scoreDiv">
                        <div ng-if="getCellScore(column,row,$index)" class="scoreInput">
                            {{getCellScore(column,row,$index)}}
                        </div>
                        <div ng-if="!getCellScore(column,row,$index)">
                            <button class="scoreButton">{{getCellScore(column,row,$index)}}</button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div ng-if="notAvailable.length">
            <h4>Not available</h4>
            <ul ng-repeat="player in notAvailable">
                <li ng-if="player !== '-x-'">
                    {{player}}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row" ng-show="leaderboard && leaderboard.length">
    <div class="well">
        <h2>Leaderboard</h2>
        <p>Ordered by: Pts(points), SD(sets difference), GD(games difference)</p>
        <uib-progressbar animate="false" value="percent" type="{{type}}"><b>{{percent}}% ({{played}}/{{total}})</b></uib-progressbar>
        <table class="table table-bordered table-striped table-condensed table-responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>P</th>
                <th>W</th>
                <th>L</th>
                <th>+G</th>
                <th>-G</th>
                <th>GD</th>
                <th>+S</th>
                <th>-S</th>
                <th>SD</th>
                <th>Pts</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in leaderboard | leaderboardSort">
                <td>{{player.name}}</td>
                <td>{{player.played}}</td>
                <td>{{player.won}}</td>
                <td>{{player.lost}}</td>
                <td>{{player.gamesFor}}</td>
                <td>{{player.gamesAgainst}}</td>
                <td>{{player.gamesDiff}}</td>
                <td>{{player.setsFor}}</td>
                <td>{{player.setsAgainst}}</td>
                <td>{{player.setsDiff}}</td>
                <td>{{player.score}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-show="boxGames">
    <div class="well">
        <h2>Games</h2>
        <generic-table
                rows="boxGames"
                columns="boxColumns"
                sort-type="boxSortType"
                sort-reverse="boxSortReverse"
                search-name="boxSearchName"
                to-title-case="toTitleCase"
                sort-column="sortBoxColumn"
                type="gamesType"
        >
        </generic-table>
    </div>
</div>

<div class="row" ng-show="boxPlayers">
    <div class="well">
        <h2>Players</h2>
        <generic-table
                rows="boxPlayers"
                columns="playerColumns"
                sort-type="playerSortType"
                sort-reverse="playerSortReverse"
                search-name="playerSearchName"
                to-title-case="toTitleCase"
                sort-column="sortPlayerColumn"
                type="playersType"
        >
        </generic-table>
    </div>
</div>
