<div class="row">
    <div class="well" ng-show="data">
        <h2>{{title}}</h2>
        <form>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                <tr ng-repeat="column in columns">
                    <td style="vertical-align: middle;">
                        <b>{{column | toTitleCase}}</b></td>
                    <td>
                        <div ng-switch="columnType(column)">
                            <div ng-switch-when="string">
                                <div ng-if="!edit || readOnly(column)">{{data[column] | formatString}}</div>
                                <div ng-if="edit && !readOnly(column)"><input class="form-control" ng-model="data[column]"></div>
                            </div>
                            <div ng-switch-when="yesno">
                                <div ng-if="!edit || readOnly(column)">{{data[column]}}</div>
                                <div ng-if="edit && !readOnly(column)"><input type="checkbox" ng-model="data[column]" ng-true-value="'yes'" ng-false-value="'no'"></div>
                            </div>
                            <div ng-switch-when="noblank">
                                <div ng-if="!edit || readOnly(column)">{{data[column]}}</div>
                                <div ng-if="edit && !readOnly(column)">
                                    <select ng-model="data[column]">
                                        <option value=""></option>
                                        <option value="no">no</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            </div>
            <p ng-if="(edit || admin) && table === 'player'"><a ng-href="#/password/{{id}}">Change password</a></p>
            <button ng-if="edit" type="submit" class="btn btn-success" ng-click="submit()">Save</button>
            <button ng-if="admin" type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
        </form>
    </div>
</div>
