<div class="row" >
    <div class="well" ng-show="data.name">
        <h1>{{title}}</h1>
        <form>
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <tr ng-repeat="column in columns">
                    <td style="vertical-align: middle;"><b>{{toTitleCase(column)}}</b></td>
                    <td ng-if="!edit || readOnly(column)">{{data[column] | formatString}}</td>
                    <td ng-if="edit && !readOnly(column)"><input class="form-control" ng-model="data[column]"></td>
                </tr>
            </table>
            <button ng-if="edit" type="submit" class="btn btn-success" ng-click="submit()">Save</button>
            <button ng-if="admin" type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
        </form>
    </div>
</div>