<div class="row" ng-show="games">
    <div class="well">
        <h1>Head to Head</h1>
        <select ng-options="player as player.name for player in played | orderBy:['name']" ng-model="selected" ng-change="change(selected)"></select>
        <div ng-show="selected">
            <h2>{{login}} vs {{selected.name}}</h2>
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>P</th>
                    <th>W</th>
                    <th>L</th>
                    <th>+G</th>
                    <th>-G</th>
                    <th>GD</th>
                    <th>+S</th>
                    <th>-S</th>
                    <th>SD</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in leaderboard">
                    <td>{{player.name}}</td>
                    <td>{{player.played}}</td>
                    <td>{{player.won}}</td>
                    <td>{{player.lost}}</td>
                    <td>{{player.gamesFor}}</td>
                    <td>{{player.gamesAgainst}}</td>
                    <td>{{player.gamesDiff}}</td>
                    <td>{{player.setsFor}}</td>
                    <td>{{player.setsAgainst}}</td>
                    <td>{{player.setsDiff}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row" ng-show="games">
    <div class="well">
        <h2>Games</h2>
        <generic-table
                rows="games"
                columns="columns"
                sort-type="sortType"
                sort-reverse="sortReverse"
                search-name="searchName"
                to-title-case="toTitleCase"
                sort-column="sortColumn"
                type="type"
        >
        </generic-table>
    </div>
</div>
</div>
