<div class="row" ng-show="games">
    <div class="well">
        <h2>Head to Head - {{home.name}}</h2>
        <select ng-options="player as player.name for player in players | orderBy:['name']" ng-model="home"
                ng-change="changeHome(home)">
            <option value=""></option>
        </select>
        <span style="margin-left:20px;margin-right:20px">vs</span>
        <select ng-options="player as player.name for player in played | orderBy:['name']" ng-model="away"
                ng-change="changeAway(away)">
            <option value=""></option>
        </select>
        <div ng-show="away">
            <h3>{{home.name}} vs {{away.name}}</h3>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>P</th>
                    <th>W</th>
                    <th>L</th>
                    <th>+G</th>
                    <th>-G</th>
                    <th>GD</th>
                    <th>+S</th>
                    <th>-S</th>
                    <th>SD</th>
                    <th>Pts</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="player in leaderboard | leaderboardSort">
                    <td>{{player.name}}</td>
                    <td>{{player.played}}</td>
                    <td>{{player.won}}</td>
                    <td>{{player.lost}}</td>
                    <td>{{player.gamesFor}}</td>
                    <td>{{player.gamesAgainst}}</td>
                    <td>{{player.gamesDiff}}</td>
                    <td>{{player.setsFor}}</td>
                    <td>{{player.setsAgainst}}</td>
                    <td>{{player.setsDiff}}</td>
                    <td>{{player.score}}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="games">
    <div class="well">
        <h2>Games</h2>
        <generic-table
                rows="games"
                columns="columns"
                sort-type="sortType"
                sort-reverse="sortReverse"
                search-name="searchName"
                to-title-case="toTitleCase"
                sort-column="sortColumn"
                type="type"
        >
        </generic-table>
    </div>
</div>
<div class="row" ng-hide="unlinked === []">
    <div class="well">
        <h2>Games not linked</h2>
        <form style="margin-top:10px; margin-bottom:10px">
            <button ng-if="name === 'Graham Thomas'" type="button" class="btn btn-danger" ng-click="delete()">Delete Unlinked Games
            </button>
        </form>
        <generic-table
                rows="unlinked"
                columns="columns"
                sort-type="sortType"
                sort-reverse="sortReverse"
                search-name="searchName"
                to-title-case="toTitleCase"
                sort-column="sortColumn"
                type="type"
        >
        </generic-table>
    </div>
</div>