<div class="row">
    <div class="well">
        <h2>Choose File</h2>
        <p><strong>File Format:</strong> full name[,email,mobile,home]</p>
        <div class="fileUpload btn btn-default">
            <input type="file" onchange="angular.element(this).scope().setFile(this)" ng-model="file">
        </div>
    </div>
    <!--<h2>Choose File</h2>-->
    <!--<div>-->
    <!--<table class="table" style="margin-bottom: 0px;">-->
    <!--<tr>-->
    <!--<td>-->
    <!--<label class="control-label">CSV File</label>-->
    <!--</td>-->
    <!--<td>-->
    <!--<div class="fileUpload btn btn-default" ng-controller="importPlayersFileCtrl">-->
    <!--&lt;!&ndash;<input type="file" class="upload" file-input name="changeEvent"/>&ndash;&gt;-->
    <!--<input type="file" onchange="angular.element(this).scope().setFile(this)" ng-model="file">-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td>-->
    <!--<label class="control-label">Spreadsheet</label>-->
    <!--</td>-->
    <!--<td>-->
    <!--<div class="fileUpload btn btn-default" ng-controller="importPlayersXlsCtrl">-->
    <!--<input type="file" class="upload" file-input name="changeEvent"/>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</div>-->
    </div>

<div class="row" ng-controller="importPlayersManualCtrl">
    <!--<div class="row">-->
    <div class="well">
        <h2>Manual Add</h2>
        <form name="addForm" novalidate>
            <table class="table table-bordered table-striped table-condensed table-responsive">
                <tr ng-repeat="column in columns">
                    <td style="vertical-align: middle;"><b>{{column | toTitleCase}}</b></td>
                    <td><input class="form-control" ng-model="data[column]"></td>
                </tr>
            </table>
            <button class="btn btn-success" ng-click="add()" ng-disabled="!valid()">Add</button>
        </form>
    </div>
</div>

<div class="row" ng-show="newPlayers.length">
    <!--<div class="row">-->
    <div class="well">
        <!--<div ng-show="newPlayers && newPlayers.length">-->
            <form class="form-inline">
                <button type="submit" class="btn btn-success" ng-click="submit()">Save</button>
            </form>
        <!--</div>-->
        <h2>New Players</h2>
        <generic-table
                rows="newPlayers"
                columns="columns"
                sort-type="sortType"
                sort-reverse="sortReverse"
                search-name="searchName"
                to-title-case="toTitleCase"
                sort-column="sortBoxColumn"
        >
        </generic-table>
    </div>
    </div>
<!--</div>-->

<!--<div class="row" ng-show="currentPlayers.length">-->
<div class="row">
    <div class="well" ng-show="currentPlayers.length">
        <h2>Current Players</h2>
        <generic-table
                rows="currentPlayers"
                columns="columns"
                sort-type="sortType"
                sort-reverse="sortReverse"
                search-name="searchName"
                to-title-case="toTitleCase"
                sort-column="sortBoxColumn"
                type="type"
        >
        </generic-table>
    </div>
</div>
