<div class="row" style="margin-top: 20px;">
    <div class="well">
        <form class="form-inline">
            <input type="text" class="form-control" placeholder="Boxleague" ng-model="boxleagueName" ng-required="true">

            <div class="input-group">
                <input placeholder="Start Date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="startDate" is-open="startPopUp.opened" datepicker-options="dateOptions"
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStartPopUp()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
            <div class="input-group">
                <input placeholder="End Date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="endDate" is-open="endPopUp.opened" datepicker-options="dateOptions" ng-required="true"
                       close-text="Close" alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEndPopUp()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
            <button type="submit" class="btn btn-success" ng-click="submit()">Save</button>
            <button type="button" class="btn btn-info" ng-click="reset()">Reset</button>
        </form>
    </div>
</div>
<div class="row" ng-hide="boxleague" style="margin-top: 20px;">
    <div class="well">
        <div class="fileUpload btn btn-default">
            <input type="file" class="upload" file-input name="changeEvent"/>
        </div>
    </div>
</div>
<div class="row" ng-show="boxleague" style="margin-top: 20px">
    <div class="well">
        <h1>{{boxleagueName}}</h1>
        <div ng-if="boxleague.boxes">
        <span ng-repeat="box in boxleague.boxes">
            <div class="col-sm-4" style="padding-left:0px">
                <boxes box="box"></boxes>
            </div>
        </span>
        </div>
    </div>
</div>