<!--http://stackoverflow.com/questions/16579427/html5-file-upload-with-angularjs-->
<!--http://stackoverflow.com/questions/20137496/angular-js-ng-repeat-for-creating-grid-->
<div class="container">

    <div ng-hide="boxes.length" class="fileUpload btn btn-default">
        <input type="file" class="upload" file-input name="changeEvent" />
    </div>

    <div class="row" style="margin-top: 20px;">
        <div  ng-if="boxes">
            <span ng-repeat="box in boxes">
                <!--<div ng-class="row |($index % 3 == 0)">-->
                    <div class="col-sm-4">
                        <boxes box="box"></boxes>
                    </div>
                <!--</div>-->
            </span>
        </div>
    </div>
</div>