<div class="row" style="margin-top: 20px;">
    <!--<div class="well" ng-hide="nextBox">-->
    <div class="well">
        <h2>Choose File</h2>
        <!--<div class="fileUpload btn btn-default">-->
        <!--<input type="file" class="upload" file-input name="changeEvent"/>-->
        <!--</div>-->
        <div class="fileUpload btn btn-default">
            <input type="file" onchange="angular.element(this).scope().setFile(this)" ng-model="file">
        </div>
        <!--<div>-->
        <!--<div file-select="file"></div>-->
        <!--</div>-->
    </div>
    <!--<div class="well" ng-show="nextBox && !boxleague">-->
    <div class="well">
        <h2>Create Boxleague</h2>
        <form name="createForm" class="form-inline">
            <input type="text" class="form-control" placeholder="Boxleague Name" ng-model="name"
                   ng-required="true">
            <div class="input-group">
                <input placeholder="Start Date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="start" is-open="startPopUp.opened" datepicker-options="dateOptions"
                       ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openStartPopUp()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
            <div class="input-group">
                <input placeholder="End Date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                       ng-model="end" is-open="endPopUp.opened" datepicker-options="dateOptions"
                       ng-required="true"
                       close-text="Close" alt-input-formats="altInputFormats"/>
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openEndPopUp()"><i
                        class="glyphicon glyphicon-calendar"></i></button>
            </span>
            </div>
            <button type="button" class="btn btn-info" ng-click="reset()">Reset</button>
            <button type="button" class="btn btn-success" ng-click="createBoxleague()"
                    ng-disabled="createForm.$invalid">Create
            </button>
        </form>
    </div>
    <!--<div class="well" ng-show="nextBox && !boxleague">-->
    <div class="well">
        <h2>Boxes and Players</h2>
        <table class="table table-bordered table-condensed" style="margin-bottom:0px">
            <thead>
            <tr>
                <th>Box</th>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in nextBox| orderBy:['newBox', 'name']"
                ng-class="{highlight : $index % 6 === 0 }">
                <td>{{player. newBox}}</td>
                <td>{{player.name}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--<div class="well" ng-show="nextBox && boxleague">-->
    <div class="well">
        <h1>{{boxleague.name}}</h1>
        <div style="margin-bottom:10px">
            <button type="submit" class="btn btn-success" ng-disabled="createForm.$invalid || !boxleague"
                    ng-click="submit()">Save
            </button>
        </div>
        <div class="row">
            <div ng-repeat="box in boxleague.boxes | orderBy:sortElement">
                <div class="col-sm-4">
                    <boxes box="box" boxleague_id="boxleague._id" player_lookup="playerLookup(id)"></boxes>
                </div>
            </div>
        </div>
    </div>
</div>
