<div class="row">
    <h1>Login</h1>

    <form ng-submit="login()">
        <p>
            <label class="control-label">Username</label>
            <input type="text" placeholder="Username" ng-model="username"/>
        </p>

        <p>
            <label class="control-label">Password</label>
            <input type="password" placeholder="Password" ng-model="password"/><br/>
        </p>

        <p>
            <button type="submit" class="btn btn-primary" ng-class="{disabled: !username || !password}">Login</button>
        </p>
    </form>
</div>