<div class="row">
    <div class="well">
        <h1>Change Password</h1>
        <form name="passwordForm" novalidate ng-submit="passwordSubmit()">
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                <tr>
                    <td style="vertical-align: middle;"><b>Username</b></td>
                    <td>{{username}}</td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;"><b>Current</b></td>
                    <td><input class="form-control" type="password" placeholder="Current password" ng-model="current"
                               ng-minlength="4"
                               required>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;"><b>Password</b></td>
                    <td><input class="form-control" type="password" placeholder="New password" ng-model="password"
                               ng-minlength="4"
                               required>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;"><b>Confirm</b></td>
                    <td><input class="form-control" type="password" placeholder="Confirm new password"
                               ng-model="confirm" ng-minlength="4"
                               required>
                    </td>
                </tr>
            </table>
            </div>
            <button type="submit" class="btn btn-success"
                    ng-disabled="passwordForm.$invalid || passwordInvalid()">Save
            </button>
        </form>
    </div>
</div>