<div class="modal-header">
    <h3 class="modal-title scoretitle">Scoreboard</h3>
</div>
<div class="modal-body">
    <table class="scoreboard">
        <tr>
            <td class="scoreline">
                <h4>{{home}}({{homePoints}})</h4>
            </td>
            <td class="scoreline" width="10%">
            </td>
            <td class="scoreline" width="45%">
                <h4>{{away}}({{awayPoints}})</h4>
            </td>
        </tr>
        <tr ng-repeat="set in sets">
            <td class="scoreline">
                <div class="btn-group-horizontal">
                    <button type="button" class="btn btn-default" ng-click="set.home = decrement(set.home, $index);update()"><span
                            class="score">-</span></button>
                    <button type="button" class="btn btn-default" disabled><span
                            class="score"><b>{{set.home}}</b></span></button>
                    <button type="button" class="btn btn-default" ng-click="set.home = increment(set.home, $index);update()">
                        <span class="score">+</span></button>
                </div>
            </td>
            <td class="scoreline">
                <h4>{{set.name}}</h4>
            </td>
            <td class="scoreline">
                <div class="btn-group-horizontal">
                    <button type="button" class="btn btn-default" ng-click="set.away = decrement(set.away, $index);update()"><span
                            class="score">-</span></button>
                    <button type="button" class="btn btn-default" disabled><span
                            class="score"><b>{{set.away}}</b></span></button>
                    <button type="button" class="btn btn-default" ng-click="set.away = increment(set.away, $index);update()">
                        <span class="score">+</span></button>
                </div>
            </td>
        </tr>
    </table>
    <div style="text-align: center;">
        <h4 style="display:inline">Played</h4>
        <div class="input-group" style="display:inline-flex">
            <input placeholder="Date" type="text" class="form-control" uib-datepicker-popup="{{format}}"
                   ng-model="date" is-open="startPopUp.opened" datepicker-options="dateOptions"
                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openStartPopUp()"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </span>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="reset()" style="float:left">Reset</button>
    <!--<b ng-show="validScore(sets) && score" style="margin-right:20px">Save "{{score}}"</b>-->
    <b ng-show="validScore(sets)" style="margin-right:20px">Save "{{score}}"</b>
    <b ng-show="!validScore(sets)" style="margin-right:20px">Invalid Score "{{score}}"</b>
    <button class="btn" ng-class="{'btn-success': validScore(sets), 'btn-default': !validScore(sets)}" type="button"
            ng-click="ok()" ng-disabled="!validScore(sets)">Save
    </button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>