<div class="container">
    <div class="form-group">
        <div class="search">
            <span class="fa fa-search"></span>
            <input placeholder="Search" ng-model="searchName">
        </div>
    </div>
    <table class="table table-bordered table-striped table-condensed table-responsive">
        <thead>
            <tr>
                <td>
                    <a href ng-click="sortType = 'name'; sortReverse = !sortReverse">
                        Name
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href ng-click="sortType = 'mobile'; sortReverse = !sortReverse">
                        Mobile
                        <span ng-show="sortType == 'mobile' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'mobile' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href ng-click="sortType = 'home'; sortReverse = !sortReverse">
                        Home
                        <span ng-show="sortType == 'home' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'home' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href ng-click="sortType = 'email'; sortReverse = !sortReverse">
                        email
                        <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="player in players | orderBy:sortType:sortReverse | filter:searchName">
                <td>{{ player.name }}</td>
                <td><span ng-show="player.mobile"><a href="sms:{{player.mobile}}">{{ player.mobile }}</a></span></td>
                <td><span ng-show="player.home"><a href="tel:{{player.home}}">{{ player.home }}</a></span></td>
                <td><span ng-show="player.email"><a href="mailto:{{player.email}}">{{ player.email }}</a></span></td>
            </tr>
        </tbody>
    </table>
</div>
